section.features
    .features__image
        img(src="../images/img-features.png")
    .container
        +itemHeader("Our Features","Quality is Our First Priority")
        .features__list
            +itemFeatures
            +itemFeatures("../images/icon2.svg")
            +itemFeatures("../images/icon3.svg")