section.items
    .container
        +itemHeader
        .items__list
            +itemsProduct("../images/img-item1.png","Black Forest")
            +itemsProduct("../images/img-item2.png")
            +itemsProduct("../images/img-item3.png","Chocolate")
            +itemsProduct("../images/img-item1.png","Black Forest")
            +itemsProduct("../images/img-item2.png")
            +itemsProduct("../images/img-item3.png","Chocolate")
            