section.main
    .main__small--cake
        img(src="../images/img-home-header.png")
    .container
        .main__content
            .main__content--animation
                h2.main__content--title-text Delicious
            .main__content--para
                h1.main__content--title Delicious Cake For Everyone
                p.main__content--text Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning.
                .main__content--button
                    a(href="#").main__content--btn.btn-primary Explore Menu
