section.product
    .container
        .product__image
            img(src="../images/img-product.png").product__image--img
        .product__content
            p.product__content--name Fresh & Delicious
            h1.product__content--title A Simple Way to Eating Delicious
            p.product__content--text Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning laboris nisi ufsit aliquip ex ea commodo conse quat is aute irure, quis nostrud exer.
            a(href="#").product__content--btn Our Story