section.team
    .container
        +itemHeader("Testimonal","What Customers Say")
        .team__contain
            +teamMember
            +teamMember("../images/img-team-member1.png")
            +teamMember
            +teamMember("../images/img-team-member1.png")
    .team__image
        +teamCake("../images/img-team-cake1.png")
        +teamCake("../images/img-team-cake2.png")
        +teamCake("../images/img-team-cake3.png")
        +teamCake("../images/img-team-cake4.png")
        +teamCake("../images/img-team-cake1.png")
        +teamCake("../images/img-team-cake2.png")
        +teamCake("../images/img-team-cake3.png")
        +teamCake("../images/img-team-cake4.png")
        
        
        //- img(src="../images/img-team-cake2.png").team__image--cake
        //- img(src="../images/img-team-cake3.png").team__image--cake
        //- img(src="../images/img-team-cake4.png").team__image--cake

            