section.main.main-p
    +headerMain
section.item-p
    .container
        +itemHeader
        .item-p__list
            +itemsProduct("../images/img-item3.png","Black Forest")
            +itemsProduct("../images/img-item2.png")
            +itemsProduct("../images/img-item1.png","Chocolate")
            +itemsProduct("../images/img-team-cake4.png","Black Forest")
            +itemsProduct("../images/img-item4.png")
            +itemsProduct("../images/img-item5.png","Chocolate")
            +itemsProduct("../images/img-item3.png","Black Forest")
            +itemsProduct("../images/img-item6.png")
            +itemsProduct("../images/img-team-cake3.png","Chocolate")
.team__image
        +teamCake("../images/img-team-cake1.png")
        +teamCake("../images/img-team-cake2.png")
        +teamCake("../images/img-team-cake3.png")
        +teamCake("../images/img-team-cake4.png")
        +teamCake("../images/img-team-cake1.png")
        +teamCake("../images/img-team-cake2.png")
        +teamCake("../images/img-team-cake3.png")
        +teamCake("../images/img-team-cake4.png")