$primary-color: #f04506;
$second-color: #d83e06;
$title-color: #000;
$text-dark-color: #391f14;
$text-color: #5e5e5e;
$primary-font: "Quicksand",sans-serif;
$second-font: "DM Sans",sans-serif;
$third-font: "Lobster",cursive;
$background-bottom-color: #fff5f2;
$wrapper: 1920px;
$container: 1200px;