section.footer
    .container
        .footer__contain
            .footer__item--logo
                a(href="#").footer__item--logo-link
                    img(src="../images/img-logo-font.png")
                p.footer__item--text Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning laboris nisi ufsit aliquip.
                .footer__item--icon
                    a(href="#").footer__item--icon-link
                        i.fab.fa-twitter-square
                    a(href="#").footer__item--icon-link
                        i.fab.fa-facebook-square
                    a(href="#").footer__item--icon-link
                        i.fab.fa-linkedin
                    a(href="#").footer__item--icon-link
                        i.fab.fa-pinterest-square
            +footerItemContent("Quick Links", "Home","About","Services","Blog","Contact")
            +footerItemContent("Cake","Blackforest","Bodhubon","Rongdhonu","Meghrong")
            .footer__item--info
                p.footer__item--title Contact Us
                .footer__item--contact
                    p.footer__item--address 76/A, Green Lane, Dhanmondi, NYC
                    a(href="#").footer__item--phone +10 (78) 738-9083
        .footer__end
            p.footer__end--text
                | Copyright &copy;2021 All rights reserved | This template is made with 
                i.fa.fa-heart
                |  by 
                a(href="#")  Colorlib
        a.scrollToTop(href='#')
            i.fas.fa-level-up-alt