header.header
    .header-navbar
        .header-navbar-menu
            a(href="index.html").header-navbar-logo
                img(src="../images/logo-cake.png")
            .header-navbar-list
                .header-navbar-item
                    a(href="index.html").header-navbar-link Home
                .header-navbar-item
                    a(href="product.html").header-navbar-link Product
                .header-navbar-item
                    a(href="about.html").header-navbar-link About
                .header-navbar-item.header-blog
                    a(href="#").header-navbar-link Blog
                    ul.header-navbar-blog
                        li
                            a(href="blog.html").header-navbar-item-blog Blog
                        li
                            a(href="blog-detail.html").header-navbar-item-blog Blog details
                        li
                            a(href="element.html").header-navbar-item-blog Element
                .header-navbar-item
                    a(href="contact.html").header-navbar-link Contact
        .header-navbar-contact
            a(href="#").header-navbar-contact-phone
                i.fas.fa-phone.header-navbar-contact-icon
                p.header-navbar-contact-number +10 (56) 745 3095
            a(href="#").header-navbar-order-btn.btn-primary Order Online
        .header-slicknav
            .header-slicknav-menu
                p.header-slicknav-btn
                    span.header-slicknav-text Menu
                    span.header-slicknav-list-icon
                        span.header-slicknav-icon
                        span.header-slicknav-icon
                        span.header-slicknav-icon
                ul.header-slicknav-list
                    li
                        a(href="index.html") Home
                    li
                        a(href="product.html") Product
                    li
                        a(href="about.html") About
                    li
                        a.header-slicknav-blog Blog
                            span#arrow.header-slicknav-blog-arrow +
                        ul.header-slicknav-submenu
                            li
                                a(href="blog.html") Blog
                            li
                                a(href="blog-detail.html") Blog details
                            li
                                a(href="element.html") Element
                    li
                        a(href="contact.html") Contact

