script(type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/@barba/core")
script(src="scripts/main.js")
script(src="scripts/validator.js")
script(src="scripts/form-element.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZe3yXu0V-WVbhc7yfO69RCqjbD-0xT1Y&callback=initMap")