section.main.main-p.main-c
    +headerMain("Elements")

setion.elements__text
    .container
        .elements__text--essay
            h4.elements__text--title Text Sample
            p.elements__text--para
                | Every avid independent filmmaker has 
                b Bold
                |  about making that 
                i Italic
                |  interest documentary, or short film to show off their creative prowess. Many have great ideas and want to &ldquo;wow&rdquo; the
                sup Superscript
                |  scene, or video renters with their big project. But once you have the
                sub Subscript
                |  &ldquo;in the can&rdquo; (no easy feat), how do you move from a 
                del Strike
                |  through of master DVDs with the 
                u &ldquo;Underline&rdquo;
                |  marked hand-written title inside a secondhand CD case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap sitting on your doorstep? You need to create eye-popping artwork and have your project replicated. Using a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is certainly a helpful option to ensure a professional end result, but to help with your DVD replication project, here are 4 easy steps to follow for good DVD replication results:

section.elements__button
    .container
        .elements__button--contain
            h4.elements__text--title Sample Buttons
            .elements__button--list
                .elements__button--upperRow
                    +elementsButtonLink("default","primary","success","info","warning","danger","link","disable")
                .elements__button--lowerRow
                    +elementsButtonLinkBorder("default","primary","success","info","warning","danger","link","disable")
            .elements__button--list-radius
                .elements__button--upperRow
                    +elementsButtonLinkRadius("default","primary","success","info","warning","danger","link","disable")
                .elements__button--lowerRow
                    +elementsButtonLinkRadiusBorder("default","primary","success","info","warning","danger","link","disable")
            .elements__button--list-circle
                .elements__button--upperRow
                    +elementsButtonLinkCircle("default","primary","success","info","warning","danger","link","disable")
                .elements__button--lowerRow
                    +elementsButtonLinkCircleBorder("default","primary","success","info","warning","danger","link","disable")
            .elements__button--list-arrow
                .elements__button--upperRow
                    +elementsButtonLinkCircleArrow("default","primary","success","info","warning","danger","link","disable")
                .elements__button--lowerRow
                    +elementsButtonLinkCircleArrowBorder("default","primary","success","info","warning","danger","link","disable")
            .elements__button--list-extra
                .elements__button--upperRow
                    a(href="#").element__button--link-extra.extra-large Extra Large
                    a(href="#").element__button--link-extra.large Large
                    a(href="#").element__button--link-extra.extra-default Default
                    a(href="#").element__button--link-extra.medium Medium
                    a(href="#").element__button--link-extra.small Small
                .elements__button--lowerRow
                    a(href="#").element__button--link-extra.extra-large-border Extra Large
                    a(href="#").element__button--link-extra.large-border Large
                    a(href="#").element__button--link-extra.extra-default-border Default
                    a(href="#").element__button--link-extra.medium-border Medium
                    a(href="#").element__button--link-extra.small-border Small