section.quote
    .container
        .quote__typography
            .quote__typography--contain
                .quote__typography--item
                    h3.quote__typography--title Image Gallery
                    .quote__typography--list
                        h1 This is header 01
                        h2 This is header 02
                        h3 This is header 03
                        h4 This is header 04
                        h5 This is header 05
                        h6 This is header 06
                .quote__typography--item
                    h3.quote__typography--title Unordered List
                    ul.quote__typography--unordered-list
                        li Fta keys
                        li For Women Only Your Computer Usage
                        li Facts Why Inkjet Printing Is Very Appealing
                            ul 
                                li Addiction When Gambling Becomes
                                    ul 
                                        li Protective Preventative Maintenance
                        li Dealing With Technical Support 10 Useful Tips
                        li Make Myspace Your Best Designed Space
                        li Cleaning And Organizing Your Computer
                .quote__typography--item
                    h3.quote__typography--title Ordered list
                    ol.quote__typography--ordered-list
                        li 
                            span Fta keys
                        li 
                            span For Women Only Your Computer Usage
                        li 
                            span Facts Why Inkjet Printing Is Very Appealing
                            ol.quote__typography--ordered-alpha
                                li 
                                    span Addiction When Gambling Becomes
                                    ol.quote__typography--ordered-beta
                                        li 
                                            span Protective Preventative Maintenance
                        li 
                            span Dealing With Technical Support 10 Useful Tips
                        li 
                            span Make Myspace Your Best Designed Space
                        li 
                            span Cleaning And Organizing Your Computer