extends layout/layout_element

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	include blocks/blog/element/text-button
	include blocks/blog/element/quotes
	include blocks/blog/element/table
	include blocks/blog/element/typography
	include blocks/blog/element/form