extends layout/layout

block vars
	-title = 'Cake - Template'
	-bodyClass = 'home-page'

block container
	include blocks/home/main
	include blocks/home/items
	include blocks/home/product
	include blocks/home/features
	include blocks/home/video
	include blocks/home/team